.navbar-light .navbar-toggler {
    color: #fff;
    border-color: #fff;
}

.nav-item {
    margin: 10px;
    font-size: 20px;
    font-family: 'Courier New, Courier, monospace';
    font-weight: bold;
    color: white;
    
}

.d-flex { 
    margin: 10px;
    color: white;
    margin-left: 20px;
}



ul .dropdown-item {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Times New Roman, Times, serif';
    background-color: #11235A;
    color: white;
}

.dropdown-item {
    color: white;
}

/* @media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .1rem; 
         padding-left:.1rem;
    }
} */

@media(min-width:768px){
    .nav-item{
        margin: 5px;
    }
    .d-flex{
        margin: 0;
    }
}