@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

.wrapper {
  width: 90%;
  max-width: 400px;  /* Maintain a max width for larger screens */
  height: auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: #fff;
}

label {
  font-size: 18px;
  font-weight: 500;
}

input {
  display: block;
  width: 100%;  /* Full width input fields */
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
}

button {
  margin-left: 0;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  background-color: orange;
  color: white;
}

a {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: darkgray;
  font-size: 16px;
  text-decoration: none;
}

a:hover {
  color: rgb(178, 180, 70);
}

/* Password instructions initially hidden */
span,
li {
  display: none;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  .wrapper {
    width: 95%;
    height: auto;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
  }
  
  button {
    font-size: 16px;
  }
  
  label {
    font-size: 16px;
  }
}

/* Media query for medium devices like tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    width: 80%;
    height: auto;
  }
  
  label {
    font-size: 18px;
  }
}

/* Media query for larger screens */
@media (min-width: 1025px) {
  .wrapper {
    max-width: 400px;
  }
}
